.page{
    display: flex;
    flex-direction: row;
    border: 1px solid red;

}

.product-filter{
    width: 700px;
    height: 700px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 1px solid red;
}

.filter-menu{
    position: relative;
    width: 300px;
    padding-left: 50px;
}

.filter-button{
    width: 100%;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
    border: none;
    border-top: 2px solid #DDDDDD;
    display: block;
    position: relative;
    margin-bottom: 2px;
    text-align: left;
    padding: 25px 0;
}

.menu{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    align-content: center;
    padding-bottom: 20px;
    
}

.menu-item{
    padding: 5px 0;
    display: flex;
    align-content: center;
    column-gap: 5px;
}

.menu-checkbox{
    width: 15px;
    height: 15px;
}